{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<h1>Payment Details</h1>
<p>Tenant: {{ object.tenant.name }}</p>
<p>Amount: {{ object.amount }}</p>
<p>Payment Date: {{ object.rental_payment_date }}</p>
<a href="{% url 'rental_payment_edit' object.pk %}">Edit</a>
<a href="{% url 'rental_payment_delete' object.pk %}">Delete</a>
<a href="{% url 'rental_payment_list' %}">Back to list</a>
